@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  min-height: 100vh;
  padding: 12vh 8vw 15vh 8vw;
  position: relative;
  @include tablet {
    padding: 12vh 5vw 15vh 5vw;
  }
  @include mobile {
    padding: 12vh 0 15vh 0;
  }
  & > div:last-child {
    button {
      font-size: 20px;
      width: 10em;
    }
  }
}

header {
  h1 {
    font-size: 56px;
    color: $primary;
    text-align: center;
    @include tablet {
      max-width: 80vw;
    }
    @include mobile {
      max-width: 55vw;
      font-size: 50px;
      margin: auto;
    }
  }
}

#error {
  margin-top: 12vh;
  margin-bottom: 15vh;
  h1 {
    font-size: 32px;
    text-align: center;
  }
}

#note {
  margin: 8vh 0 8vh 12vw;
  font-weight: 500;
  font-size: 22px;
  @include mobile {
    margin: 8vh auto 4vh auto;
  }
  mat-icon {
    transform: translateY(0.25em);
  }
  div {
    @include mobile {
      text-align: center;
    }
    &:first-child {
      color: $primary;
    }
    &:nth-child(2) {
      color: $accent;
    }
    &:nth-child(3) {
      color: #f44336;
    }
    &:nth-child(4) {
      color: #ffc107;
    }
  }
}

#sort {
  margin-bottom: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @include tablet {
    margin-left: 12vw;
    flex-flow: column wrap;
  }
  @include mobile {
    margin-left: 0;
    flex-flow: column wrap;
    align-items: center;
  }
  button {
    width: 12em;
    font-size: 18px;
    @include non-extra-large {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    @include tablet {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    @include mobile {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}

main {
  width: 80vw;
  margin: auto;
  margin-bottom: 16vh;
  @include mobile {
    width: 90vw;
    font-size: 16px;
  }
  button {
    font-size: 18px;
    width: 8em;
    @include tablet {
      font-size: 16px;
      width: 7em;
    }
    @include mobile {
      font-size: 16px;
      width: 5em;
      span.delete {
        display: none;
      }
    }
  }
  mat-grid-list {
    border-radius: 0.5em;
    mat-grid-tile {
      font-size: 18px;
      @include mobile {
        font-size: 16px;
      }
      &:first-child {
        font-weight: 500;
        font-size: 22px;
        color: $primary;
        @include tablet {
          font-size: 20px;
        }
        @include mobile {
          font-size: 18px;
        }
      }
      &:nth-child(2) {
        font-weight: 500;
        font-size: 20px;
        color: $accent;
        @include mobile {
          font-size: 18px;
        }
      }
      &:nth-child(3) {
        font-weight: 500;
        color: #f44336;
      }
      &:nth-child(4) {
        color: #ffc107;
      }
    }
  }
}

aside#nav {
  width: 70vw;
  margin: auto;
  margin-bottom: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @include mobile {
    flex-flow: column wrap;
    align-items: center;
  }
  button {
    width: 12em;
    font-size: 18px;
    @include tablet {
      &:first-child {
        margin-right: 1.5em;
      }
      &:last-child {
        margin-left: 1.5em;
      }
    }
    @include mobile {
      &:first-child {
        margin-right: 0;
        margin-bottom: 0.75em;
      }
      &:last-child {
        margin-left: 0;
        margin-top: 0.75em;
      }
    }
  }
}

aside#bgs {
  img {
    z-index: -3 !important;
  }
  img:first-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
  }
  img:last-child {
    position: absolute;
    transform: scaleX(-1);
    bottom: 0;
    left: 0;
    width: 25vw;
  }
}

.shade-blk {
  background-color: rgba($color: #000000, $alpha: 0.04);
}
