@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#overlay {
  z-index: 5;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  transition-duration: 1s;
  &.toggled {
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 1s;
    visibility: visible;
  }
}

#moments-panel {
  padding: 2em 3em;
  z-index: 6;
  opacity: 0.9;
  width: 50%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transform: translate(-50%, -90vh);
  transition-duration: 1s;
  transition-timing-function: ease-out;
  // transition-property: transform;
  &.toggled {
    transform: translate(-50%, 0);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    // transition-property: transform;
  }
  @include tablet {
    width: 60%;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
  }
  @include mobile {
    width: 70%;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
  }
}

#moments-toggler {
  z-index: 7;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: #f44336;
  color: white;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 1.8rem;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  &:hover {
    cursor: pointer;
  }
  &.toggled {
    transition-property: transform;
    transform: translate(-50%, 90vh);
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }
  @include mobile {
    width: 100px;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
  }
}

#hide-mobile {
  display: initial;
  @include mobile {
    display: none;
  }
}

#moment-list {
  .moment-item {
    font-size: 18px;
    div:first-child {
      .k-name {
        font-size: 20px;
        color: $primary;
        font-weight: 600;
      }
      .m-date {
        font-size: 20px;
        color: $accent;
        font-weight: 600;
      }
    }
    div:nth-child(2) {
      //
    }
  }
}

#moment-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  button {
    width: 8em;
    font-weight: 600;
    mat-icon {
      transform: translateY(0.25em);
    }
  }
}

#moment-sub {
  //
}
