<p>
  koalibee-home works!
</p>
<div class="gap-60"></div>

<div class="flex-row-center raleway">
  <a mat-flat-button color="warn" [routerLink]="[ 'dashboard' ]">Dashboard</a>
  <a mat-flat-button color="primary" [routerLink]="[ 'store' ]">Store</a>
  <a mat-flat-button color="primary" [routerLink]="[ 'profile' ]">Profile</a>
  <a mat-flat-button color="primary" [routerLink]="[ 'manage-album' ]">Manage Album</a>
  <a mat-flat-button color="primary" [routerLink]="[ 'inventory' ]">Inventory</a>
  <a mat-flat-button color="basic" [routerLink]="[ 'player' ]">Player</a>
</div>

<div class="gap-80"></div>
<p>
  <router-outlet></router-outlet>
</p>