<div id="wrapper">
	<div id="sidenav" *ngIf="canShowSidenav()" [ngClass]="{'toggled': navToggled}">
		<div>
			<div id="head">
				<div id="home" [ngClass]="{'toggled': navToggled}" [routerLink]="[ './dashboard' ]">
					<mat-icon>home</mat-icon>
					<span class="invisible">I</span>
					<span>Home</span>
				</div>
				<div id="avatar" [ngClass]="{'toggled': navToggled}">
					<mat-icon>filter_vintage</mat-icon>
					<img src="{{avatarDataUrl}}" alt="avatar">
				</div>
				<div id="welcome" [ngClass]="{'toggled': navToggled}">
					<mat-icon>sentiment_satisfied_alt</mat-icon>
					<span>Welcome,</span>
				</div>
				<div id="name" [ngClass]="{'toggled': navToggled}">
					<span>{{firstName}} {{lastName}}</span>
				</div>
				<div id="eta" [ngClass]="{'toggled': navToggled}">
					<mat-icon>attach_money</mat-icon>
					<span>{{etaBalance}}</span>
				</div>
			</div>
			<div id="nav-links" class="exo">
				<div id="nav-toggler" (click)="toggleNav()">
					<mat-icon id="menu-icon" [ngClass]="{'toggled': navToggled}">menu</mat-icon>
					<mat-icon id="close-icon">close</mat-icon>
				</div>
				<a class="nav-link" [ngClass]="{'toggled': navToggled}" [routerLink]="[ './profile' ]"
					routerLinkActive="active">
					<mat-icon>account_circle</mat-icon>
					<span class="invisible">II</span>
					<span>Profile</span>
				</a>
				<a class="nav-link" [ngClass]="{'toggled': navToggled}" [routerLink]="[ './store' ]" routerLinkActive="active">
					<mat-icon>shop</mat-icon>
					<span class="invisible">II</span>
					<span>Store</span>
				</a>
				<a class="nav-link" [ngClass]="{'toggled': navToggled}" [routerLink]="[ './manage-album' ]"
					routerLinkActive="active">
					<mat-icon>folder_special</mat-icon>
					<span class="invisible">II</span>
					<span>Work</span>
				</a>
				<a class="nav-link" [ngClass]="{'toggled': navToggled}" [routerLink]="[ './inventory' ]"
					routerLinkActive="active">
					<mat-icon>library_music</mat-icon>
					<span class="invisible">II</span>
					<span>Inventory</span>
				</a>
				<div id="logout" [ngClass]="{'toggled': navToggled}" (click)="logoutSubmit()">
					<mat-icon>exit_to_app</mat-icon>
					<span class="invisible">II</span>
					<span>Logout</span>
				</div>
			</div>
		</div>
	</div>
	<div id="nav-content" [ngClass]="{'full': !canShowSidenav()}">
		<router-outlet></router-outlet>
	</div>
</div>
<button [ngClass]="{'toggled': navToggled}" *ngIf="canShowSidenav()" id="nav-fab" mat-fab color="primary"
	(click)="toggleNav()">
	<mat-icon>menu</mat-icon>
</button>
<div id="overlay" [ngClass]="{'toggled': momentsToggled}"></div>
<div id="overlay2" *ngIf="canShowSidenav()" [ngClass]="{'toggled': navToggled}"></div>
<!-- Moments panel -->
<div *ngIf="canShowMoments()" id="moments-panel" [ngClass]="{'toggled': momentsToggled}">
	<div id="moment-list">
		<div *ngFor="let moment of currentMoments" class="moment-item">
			<div>
				<span class="k-name">{{moment.koalibeeName}}</span><span class="invisible">I</span> on <span
					class="invisible">I</span><span class="m-date">{{formatDate(moment.postDate)}}</span><span
					class="invisible">I</span> said:
			</div>
			<div>{{trimMoment(moment.postComment)}}</div>
			<br>
		</div>
	</div>
	<div id="moment-buttons" class="theme-2">
		<button mat-raised-button color="primary" (click)="navPrev()" [disabled]="currentPage === 1">
			<span class="raleway">
				<mat-icon class="before">navigate_before</mat-icon>
				<span class="invisible">I</span>
				<span>Prev.</span>
			</span>
		</button>
		<button mat-raised-button color="primary" (click)="loadMoments()">
			<span class="raleway">
				<span>Refresh</span>
				<span class="invisible">I</span>
				<mat-icon>refresh</mat-icon>
			</span>
		</button>
		<button mat-raised-button color="primary" (click)="navNext()" [disabled]="currentPage === numberOfPages">
			<span class="raleway">
				<span>Next</span>
				<span class="invisible">I</span>
				<mat-icon>navigate_next</mat-icon>
			</span>
		</button>
	</div>
	<div id="moment-sub">
		<div id="mom-img">
			<img src="../../../assets/images/c3.png" alt="c3">
		</div>
		<div id="mom-form">
			<div class="t-web">Share your moment:</div>
			<div>
				<textarea [(ngModel)]="newMoment" class=""></textarea>
				<small *ngIf="!lengthExceeded()">{{MAX_CHAR_COUNT - newMoment.length}} characters remaining</small>
				<small *ngIf="lengthExceeded()" class="warn">Maximum 60 characters allowed</small>
			</div>
			<div>
				<button mat-raised-button color="primary" (click)="postMoment()" [disabled]="lengthExceeded()">
					<span>Post</span>
					<span class="invisible">I</span>
					<mat-icon>forward</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="canShowMoments()" id="moments-toggler" class="flex-col-center t-web" (click)="toggleMoments()"
	[ngClass]="{'toggled': momentsToggled}">
	<div class="flex-row-center">
		<span>M<span id="hide-mobile">oments</span></span><span class="invisible">I</span>
		<mat-icon>format_quote</mat-icon>
	</div>
</div>