@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

$panel-speed: 0.7s;
$nav-font: 22px;
$nav-font-tb: 22px;
$nav-font-mo: 18px;
$tab-padding: 0.8rem;

#overlay {
  z-index: 5;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  transition-duration: 1s;
  &.toggled {
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 1s;
    visibility: visible;
  }
}

#overlay2 {
  z-index: 5;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  transition-duration: 0.4s;
  &.toggled {
    @include mobile {
      background-color: rgba(0, 0, 0, 0.4);
      visibility: visible;
      transition-duration: 0.4s;
    }
  }
}

#moments-panel {
  visibility: hidden;
  padding: 2em 3em;
  z-index: 6;
  opacity: 0.9;
  width: 50%;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transform: translate(-50%, -90vh);
  transition-duration: $panel-speed;
  transition-timing-function: ease-out;
  // transition-property: transform;
  &.toggled {
    visibility: visible;
    transform: translate(-50%, 0);
    transition-duration: $panel-speed;
    transition-timing-function: ease-out;
    // transition-property: transform;
  }
  @include tablet {
    width: 60%;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
  }
  @include mobile {
    width: 80%;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    padding: 1.5em;
  }
  @include mobile-extra-small {
    padding: 1em;
  }
}

#moments-toggler {
  user-select: none;
  z-index: 7;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition-property: transform;
  transition-duration: $panel-speed;
  transition-timing-function: ease-out;
  background-color: #f44336;
  color: white;
  text-align: center;
  display: inline-block;
  width: 10em;
  height: 1.8em;
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  &:hover {
    cursor: pointer;
  }
  &.toggled {
    transition-property: transform;
    transform: translate(-50%, 90vh);
    transition-duration: $panel-speed;
    transition-timing-function: ease-out;
  }
  @include mobile {
    width: 7em;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
  }
}

#hide-mobile {
  display: initial;
  @include mobile {
    display: none;
  }
}

#moment-list {
  .moment-item {
    font-size: 18px;
    div:first-child {
      .k-name {
        font-size: 20px;
        color: $primary;
        font-weight: 600;
        @include tablet {
          font-size: 18px;
          @include mobile {
            font-size: 14px;
          }
        }
      }
      .m-date {
        font-size: 20px;
        color: $accent;
        font-weight: 600;
        @include tablet {
          font-size: 16px;
        }
        @include mobile {
          font-size: 16px;
        }
      }
    }
    div:nth-child(2) {
      //
    }
    @include tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
}

#moment-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  @include tablet {
    justify-content: space-around;
  }
  @include mobile {
    justify-content: space-around;
  }
  button {
    width: 8em;
    font-weight: 600;
    mat-icon {
      transform: translateY(0.29em);
      &.before {
        // transform: translateY(0.29em);
      }
    }
    @include mobile {
      font-size: 14px;
      width: 6em;
      .raleway {
        span {
          display: none;
        }
      }
    }
    @include mobile-extra-small {
      width: 5em;
    }
  }
}

#moment-sub {
  margin: auto;
  margin-top: 2.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4em);
  @include tablet {
    margin-top: 4em;
  }
  @include mobile-extra-small {
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
  }
  #mom-img {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    @include mobile-extra-small {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  #mom-form {
    display: inline-block;
    width: 80%;
    @include mobile-extra-small {
      text-align: center;
    }
    div:first-child {
      color: $primary;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.1em;
      @include mobile {
        font-size: 16px;
      }
    }
    div:nth-child(2) {
      textarea {
        width: 100%;
        height: 4em;
        border-radius: 0.5em;
        font-size: 18px;
        &:focus {
          outline: none !important;
        }
      }
      small {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        display: block;
        &.warn {
          color: $warn;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
    div:nth-child(3) {
      margin-top: 0.5em;
      button {
        width: 8em;
        display: block;
        margin-left: auto;
        @include mobile {
          width: 6em;
          font-size: 14px;
        }
        @include mobile-extra-small {
          margin-top: 0;
          margin: auto;
        }
      }
    }
  }
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#fake-sidenav {
  visibility: hidden;
  display: inline-flex;
  min-height: 100%;
  width: 90px;
  &.toggled {
    min-width: 220px !important;
  }
  @include mobile {
    display: none;
  }
}

#sidenav {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0em 0 3em 0;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 90px;
  background: linear-gradient(#ec407a, #ad1457);
  color: white;
  @include mobile {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    &.toggled {
      visibility: visible;
      transition-duration: 0.4s;
      opacity: 1;
      z-index: 8;
    }
  }
  & > div {
    width: 100%;
    position: absolute;
    top: 0;
  }
  &.toggled {
    min-width: 240px !important;
  }
  #nav-links {
    width: 100%;
  }
  a.nav-link,
  #logout,
  #nav-toggler {
    padding: 0;
    cursor: pointer;
    span {
      display: none;
      visibility: hidden;
    }
    &.toggled {
      text-align: left;
      span {
        display: initial;
        visibility: visible;
      }
      &.toggled:not(#nav-toggler) {
        padding-left: 1.75em;
        @include tablet {
          // padding-left: 1.85em;
        }
        @include mobile {
          padding-left: 2em;
        }
      }
    }
    &:first-child {
      margin-bottom: 1em;
      mat-icon {
        transform: rotate(90deg);
        &.toggled {
          transform: none;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      padding-top: $tab-padding;
      padding-bottom: $tab-padding;
    }
    &:last-child {
      margin-top: 3vh;
    }
    &:hover:not(#nav-toggler):not(#logout) {
      background-color: #ad1457;
    }
    &:not(#nav-toggler) {
      mat-icon {
        transform: translateY(0.15em);
      }
    }
    display: block;
    width: 100%;
    font-size: $nav-font;
    color: white;
    text-align: center;
    &.active {
      background-color: #880e4f;
    }
    @include tablet {
      font-size: $nav-font-tb;
    }
    @include mobile {
      font-size: $nav-font-mo;
    }
  }
}

#head {
  width: 100%;
  margin-bottom: 1.5em;
  font-size: $nav-font;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include tablet {
    font-size: $nav-font-tb;
  }
  @include mobile {
    font-size: $nav-font-mo;
  }
  #home {
    margin-bottom: 0.5em;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: $tab-padding 0;
    mat-icon {
      transform: translateY(0.15em);
    }
    &:hover {
      background-color: #ad1457;
    }
    &.toggled > span {
      display: initial;
      visibility: visible;
    }
    &:focus {
      outline: 0;
    }
    span {
      display: none;
      visibility: hidden;
    }
  }
  #avatar {
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &.toggled > img {
      display: initial;
      visibility: visible;
    }
    &.toggled {
      mat-icon {
        display: none;
      }
    }
    img {
      width: 100px;
      display: none;
      visibility: hidden;
      border-radius: 50%;
    }
  }
  #welcome {
    margin-top: 0.5em;
    &.toggled {
      span {
        display: initial;
        visibility: visible;
      }
      mat-icon {
        display: none;
      }
    }
    span {
      display: none;
      visibility: hidden;
    }
  }
  #name {
    &.toggled {
      visibility: visible;
      max-height: 3em;
    }
    max-height: 1.5em;
    visibility: hidden;
    margin-bottom: 0.5em;
  }
  #eta {
    width: 100%;
    text-align: center;
    margin-top: 0.2em;
    &.toggled {
      mat-icon {
        transform: translate(-5px, 0.15em);
      }
    }
    &.toggled > span {
      transform: translateX(-5px);
      display: inline-block;
      visibility: visible;
    }
    mat-icon {
      transform: translateY(0.15em);
    }
    span {
      display: none;
      visibility: hidden;
    }
  }
}

#nav-content {
  display: inline-block;
  min-height: 100vh;
  width: calc(100% - 90px);
  &.toggled {
    width: calc(100% - 240px);
  }
  &.full {
    width: 100%;
  }
  @include mobile {
    width: 100%;
    &.toggled {
      width: calc(100% - 240px);
    }
  }
}

#nav-fab {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 3;
  display: none;
  @include mobile {
    display: initial;
    &.toggled {
      display: none;
    }
  }
}

#menu-icon {
  @include mobile {
    display: none;
  }
}

#close-icon {
  display: none;
  @include mobile {
    display: initial;
  }
}
