@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

$panel-speed: 0.8s;

#overlay {
  z-index: 5;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  transition-duration: 1s;
  &.toggled {
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 1s;
    visibility: visible;
  }
}

#moments-panel {
  padding: 2em 3em;
  z-index: 6;
  opacity: 0.9;
  width: 50%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transform: translate(-50%, -90vh);
  transition-duration: $panel-speed;
  transition-timing-function: ease-out;
  // transition-property: transform;
  &.toggled {
    transform: translate(-50%, 0);
    transition-duration: $panel-speed;
    transition-timing-function: ease-out;
    // transition-property: transform;
  }
  @include tablet {
    width: 60%;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
  }
  @include mobile {
    width: 80%;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    padding: 1.5em;
  }
  @include mobile-extra-small {
    padding: 1em;
  }
}

#moments-toggler {
  z-index: 7;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition-property: transform;
  transition-duration: $panel-speed;
  transition-timing-function: ease-out;
  background-color: #f44336;
  color: white;
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 1.8rem;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  &:hover {
    cursor: pointer;
  }
  &.toggled {
    transition-property: transform;
    transform: translate(-50%, 90vh);
    transition-duration: $panel-speed;
    transition-timing-function: ease-out;
  }
  @include mobile {
    width: 100px;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
  }
}

#hide-mobile {
  display: initial;
  @include mobile {
    display: none;
  }
}

#moment-list {
  .moment-item {
    font-size: 18px;
    div:first-child {
      .k-name {
        font-size: 20px;
        color: $primary;
        font-weight: 600;
        @include tablet {
          font-size: 18px;
          @include mobile {
            font-size: 14px;
          }
        }
      }
      .m-date {
        font-size: 20px;
        color: $accent;
        font-weight: 600;
        @include tablet {
          font-size: 16px;
        }
        @include mobile {
          font-size: 16px;
        }
      }
    }
    div:nth-child(2) {
      //
    }
    @include tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
}

#moment-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  @include tablet {
    justify-content: space-around;
  }
  @include mobile {
    justify-content: space-around;
  }
  button {
    width: 8em;
    font-weight: 600;
    mat-icon {
      transform: translateY(0.29em);
      &.before {
        // transform: translateY(0.29em);
      }
    }
    @include mobile {
      font-size: 14px;
      width: 6em;
      .raleway {
        span {
          display: none;
        }
      }
    }
    @include mobile-extra-small {
      width: 5em;
    }
  }
}

#moment-sub {
  margin-top: 2.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4em);
  #mom-img {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    img {
      width: 100%;
    }
  }
  #mom-form {
    display: inline-block;
    width: 70%;
    div:first-child {
      color: $primary;
      font-size: 20px;
      font-weight: 600;
    }
    div:nth-child(2) {
      textarea {
        width: 100%;
        height: 6em;
        border-radius: 0.5em;
        &:focus {
          outline: none !important;
        }
      }
      small {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        display: block;
      }
    }
    div:nth-child(3) {
      margin-top: 0.5em;
      button {
        width: 8em;
        display: block;
        margin-left: auto;
      }
    }
  }
}
