@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  padding-top: 12vh;
  padding-bottom: 14vh;
  background: url("../../../assets/images/work-factory-bg.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-attachment: fixed;
  @include tablet {
    background-size: 75%;
    background-position-y: bottom;
  }
  @include mobile-toggle {
    background: none;
  }
}

header {
  h1 {
    font-size: 56px;
    color: $primary;
    text-align: center;
    @include tablet {
      font-size: 52px;
    }
    @include mobile-toggle {
      font-size: 48px;
    }
    @include mobile {
      width: 95%;
      margin: auto;
    }
  }
  margin-bottom: 7vh;
}

#content {
  padding-left: 10vw;
  padding-right: 10vw;
  @include mobile-toggle {
    padding: 0;
  }
}

section {
  h2 {
    font-size: 32px;
    color: $primary-darken-2;
    font-weight: 500;
    margin-bottom: 4vh;
    @include tablet {
      font-size: 28px;
    }
    @include mobile-toggle {
      text-align: center;
    }
  }
  &:first-child {
    margin-bottom: 12vh;
  }
  &:nth-child(2) {
    margin-bottom: 12vh;
  }
}

form {
  width: 72%;
  .buttons {
    margin-top: 1.75em;
    @include mobile-toggle {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    button {
      font-size: 20px;
      width: 8em;
      @include mobile-toggle {
        font-size: 16px;
        width: 7em;
      }
    }
  }
  @include tablet {
    width: 76%;
  }
  @include mobile-toggle {
    width: 70%;
    margin: auto;
  }
  @include mobile {
    width: 75%;
  }
}

#tbtn {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  @include mobile-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  button {
    font-size: 20px;
    width: 8em;
    @include mobile-toggle {
      font-size: 16px;
      width: 7em;
      mat-icon {
        display: none;
      }
    }
  }
}

.form-field-wrapper {
  user-select: none;
  font-size: 18px;
  display: block;
  margin-bottom: 0.6em;
  @include mobile-toggle {
    font-size: 16px;
  }
  mat-form-field {
    width: 100%;
  }
}

.form-field-wrapper#eta,
.form-field-wrapper#art {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  &#eta {
    @include tablet {
      margin-bottom: 1em;
    }
  }
  mat-form-field {
    width: 70%;
    margin-right: calc(30% - 8em);
    @include tablet {
      width: 100%;
      margin-right: 0;
    }
    @include mobile-toggle {
      width: 100%;
      margin-right: 0;
    }
  }
  mat-checkbox {
    width: 8em;
    padding: 0 16px;
    transform: translateY(calc(-1 * (1.1em) / 4));
    @include tablet {
      transform: none;
    }
  }
  button {
    width: 8em;
    transform: translateY(calc(-1 * (1.3475em) / 2));
  }
  .actions {
    @include tablet {
      transform: none;
      margin-top: 1em;
    }
  }
}

.form-field-wrapper#demo {
  margin-top: 1.65em;
  margin-bottom: 2em;
  padding: 0 16px;
}

div#art-modal.modal-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  .img-container {
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &:first-child {
      img {
        display: block;
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
  h5 {
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
    color: $primary-darken-2;
  }
}

mat-selection-list {
  &:focus {
    outline: 0;
  }
}
