<div id="wrapper">
  <header>
    <h1 class="coiny">Album Factory</h1>
  </header>
  <div id="content">
    <section id="album-edit">
      <h2 class="raleway">Metadata</h2>
    </section>
    <section id="album-add">
      <h2 class="raleway">Add New Track</h2>
    </section>
    <section id="album-pub">
      <h2 class="raleway">Publish Zone</h2>
    </section>
  </div>
  <!-- Modal -->
  <ng-template #pubContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Release</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to publish this album? You can't edit or delete it after the release.</p>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="basic" (click)="modal.close()">No</button>
      <button mat-raised-button color="primary" (click)="publishAlbum()">Yes</button>
    </div>
  </ng-template>
</div>