<div id="wrapper">
  <header>
    <h1 class="coiny">Update Information</h1>
  </header>
  <section id="koalibee-info">
    <form [formGroup]="koalibeeInfoForm">
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" formControlName="firstName">
        <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
        <mat-error
          *ngIf="koalibeeInfoForm.get('firstName').touched && koalibeeInfoForm.get('firstName').errors?.minlength">
          First name can't be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName">
        <mat-icon matSuffix>fingerprint</mat-icon>
        <mat-error
          *ngIf="koalibeeInfoForm.get('lastName').touched && koalibeeInfoForm.get('lastName').errors?.minlength">
          Last name can't be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input formControlName="avatar" placeholder="Upload a profile avatar"></ngx-mat-file-input>
        <mat-icon matSuffix>insert_photo</mat-icon>
      </mat-form-field>
    </form>
    <div id="preview"></div>
    <button color="primary" mat-raised-button (click)="infoUpdateSubmit()">Update</button>
  </section>
  <header>
    <h1 class="coiny">Update Credentials</h1>
  </header>
  <section id="koalibee-cred">
    <form [formGroup]="koalibeeCredForm">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="koalibeeCredForm.get('email').touched && koalibeeCredForm.get('email').errors?.minlength">
          Email can't be empty</mat-error>
        <mat-error *ngIf="koalibeeCredForm.get('email').touched && koalibeeCredForm.get('email').errors?.email">
          Invalid email address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Create New Password" formControlName="password">
        <mat-icon matSuffix>security</mat-icon>
        <mat-error
          *ngIf="koalibeeCredForm.get('password').touched && koalibeeCredForm.get('password').errors?.minlength">
          Minimum 6 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [errorStateMatcher]="matcher" placeholder="Confirm New Password"
          formControlName="confirmPassword">
        <mat-icon matSuffix>gavel</mat-icon>
        <mat-error *ngIf="koalibeeCredForm.get('confirmPassword').touched && koalibeeCredForm.hasError('psMatch')">
          Passwords do not match</mat-error>
      </mat-form-field>
    </form>
    <button color="primary" mat-raised-button (click)="credUpdateSubmit()">Update</button>
  </section>
</div>