<div id="wrapper">
  <aside id="bgs">
    <img src="../../../assets/images/luka-bw.png" alt="luka">
    <img src="../../../assets/images/miku-bw.png" alt="miku">
  </aside>
  <header>
    <h1 class="coiny">Moment Records</h1>
  </header>
  <!-- Error message -->
  <div id="error" *ngIf="error">
    <h1 class="t-web">Oops, something went wrong</h1>
  </div>
  <aside id="note" *ngIf="!error" class="t-web">
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Moment ID</span>
    </div>
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Date of Posting</span>
    </div>
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Name of Koalibee</span>
    </div>
  </aside>
  <!-- Sort buttons -->
  <aside id="sort" *ngIf="!error">
    <button mat-raised-button color="primary" (click)="sortById()">
      <mat-icon>sort</mat-icon>
      <span class="invisible">I</span>
      <span>ID</span>
    </button>
    <button mat-raised-button color="primary" (click)="sortByDate()">
      <mat-icon>sort</mat-icon>
      <span class="invisible">I</span>
      <span>Date</span>
    </button>
    <button mat-raised-button color="primary" (click)="sortByName()">
      <mat-icon>sort</mat-icon>
      <span class="invisible">I</span>
      <span>Name</span>
    </button>
  </aside>
  <main class="flex-row-center" *ngIf="!error">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let moment of currentMomentList" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            #<span>{{moment.momentId}}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span>
              <span>{{moment.postDate.year}}-</span>
              <span *ngIf="needPadding(moment.postDate.monthValue)">0</span>
              <span>{{moment.postDate.monthValue}}-</span>
              <span *ngIf="needPadding(moment.postDate.dayOfMonth)">0</span>
              <span>{{moment.postDate.dayOfMonth}}</span>
            </span>
            <span>{{moment.koalibeeName}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{moment.postComment}}</p>
        <mat-action-row>
          <button mat-raised-button color="warn" (click)="deleteMoment(moment.momentId)">
            <span>Delete</span>
            <span class="invisible">I</span>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </main>
  <aside id="nav" *ngIf="!error">
    <button mat-raised-button color="primary" (click)="navPrev()">
      <mat-icon>navigate_before</mat-icon>
      <span class="invisible">I</span>
      <span>Previous</span>
    </button>
    <button mat-raised-button color="primary" (click)="navNext()">
      <span>Next</span>
      <span class="invisible">I</span>
      <mat-icon>navigate_next</mat-icon>
    </button>
  </aside>
  <div class="flex-row-center">
    <button mat-raised-button color="basic" [routerLink]="[ '../']">
      <span>Back</span>
      <span class="invisible">I</span>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
</div>