@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  position: relative;
  background-image: url("../../../assets/images/ko-home.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 6vh;
  padding-left: 5vw;
  padding-bottom: 8vh;
  @include tablet {
    background-position-x: 40%;
  }
  @include mobile {
    background-position-x: 35%;
  }
}

header {
  max-width: 35vw;
  margin-bottom: 2vh;
  #title {
    color: $primary;
    font-family: "Wallpoet", cursive;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 4vh;
  }
  #sub {
    font-size: 54px;
    @include tablet {
      font-size: 52px;
    }
    div {
      margin-bottom: -0.1em;
    }
  }
}

main {
  #promotion {
    font-size: 18px;
    max-width: 35vw;
    margin-bottom: 6vh;
    @include tablet {
      max-width: 40vw;
    }
    @include mobile-large {
      max-width: 50vw;
    }
    @include mobile {
      max-width: 60vw;
    }
    @include mobile-small {
      max-width: 75vw;
    }
  }
  .buttons {
    margin-top: 4vh;
    margin-bottom: 4vh;
    @include mobile-extra-small {
      margin-bottom: 0;
    }
    button {
      width: 8.5em;
      font-size: 18px;
      text-decoration: none;
      @include mobile-extra-small {
        margin-right: 0;
        margin-bottom: 2vh;
      }
      &:nth-child(odd) {
        margin-right: 2vw;
        @include mobile {
          margin-right: 4vw;
        }
        @include mobile-extra-small {
          margin-right: 0;
        }
      }
      mat-icon {
        transform: translateY(0.2em);
      }
    }
  }
  #logout {
    margin-top: 8vh;
    button {
      color: rgba(0, 0, 0, 0.7);
      width: 8.5em;
      font-size: 18px;
      text-decoration: none;
    }
    mat-icon {
      transform: translateY(0.18em);
    }
  }
}
