body {
  font-size: 16px;
}

h1 {
  color: #f169b4;
  text-align: center;
}

.main-alert {
  width: 70%;
  margin: auto;
  background-color: #ac0064;
  color: white;
  font-size: 20px;
  text-align: center;
}

div > button {
  margin: 20px;
  min-width: 100px;
}
