<div class="gap-60"></div>
<h1 class="coiny">Welcome to {{title}}</h1>
<div class="gap-40"></div>
<ngb-alert [dismissible]="true" class="main-alert fira">
	<strong>Sorry!</strong> The site is still under construction. Come back later.
</ngb-alert>
<div class="gap-80"></div>
<div class="flex-row-center">
	<a mat-raised-button color="primary" [routerLink]="[ '/login' ]">Login</a>
	<a mat-raised-button color="accent" [routerLink]="[ '/register' ]">Register</a>
	<a mat-raised-button color="warn" [routerLink]="[ '/jabberwocky' ]">Oops</a>
</div>

<div class="gap-40"></div>
<p>
	<router-outlet></router-outlet>
</p>