<div id="wrapper">
  <aside id="bgs">
    <img src="../../../assets/images/miku-bw.png" alt="miku">
    <img src="../../../assets/images/luka-bw.png" alt="luka">
  </aside>
  <header>
    <h1 class="coiny">Track Records</h1>
  </header>
  <!-- Error message -->
  <div id="error" *ngIf="error">
    <h1 class="t-web">Oops, something went wrong</h1>
  </div>
  <!-- Color notes -->
  <aside id="note" *ngIf="!error" class="t-web">
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Track ID</span>
    </div>
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Name of Track</span>
    </div>
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Name of Composer</span>
    </div>
    <div>
      <mat-icon>remove</mat-icon>
      <span class="invisible">I</span>
      <span>Length of Track</span>
    </div>
    <div>
      <mat-icon>favorite</mat-icon>
      <span class="invisible">I</span>
      <span>Demo Status</span>
    </div>
  </aside>
  <!-- Sort buttons -->
  <aside id="sort" *ngIf="!error">
    <button mat-raised-button color="primary" (click)="sortById()">
      <mat-icon>sort</mat-icon>
      <span class="invisible">I</span>
      <span>ID</span>
    </button>
    <button mat-raised-button color="primary" (click)="sortByTrack()">
      <mat-icon>sort</mat-icon>
      <span class="invisible">I</span>
      <span>Track</span>
    </button>
  </aside>
  <main *ngIf="!error" class="t-web">
    <div *ngFor="let track of currentTrackList">
      <mat-grid-list [ngClass]="{
        'shade-blk': currentTrackList.indexOf(track) % 2 === 0
      }" cols="9" rowHeight="12vh">
        <mat-grid-tile colspan="2" rowspan="2">
          <mat-icon *ngIf="track.isDemo === 'T'">favorite</mat-icon>
          <mat-icon *ngIf="track.isDemo === 'F'">favorite_border</mat-icon>
          <span class="invisible">I</span>
          <span>#{{track.trackId}}</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="7" rowspan="1">
          <mat-icon>audiotrack</mat-icon>
          <span class="invisible">I</span>
          {{track.trackName | u8}}
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">
          <mat-icon>person</mat-icon>
          <span class="invisible">I</span>
          {{track.composer}}
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-icon>timelapse</mat-icon>
          <span class="invisible">I</span>
          {{convertTime(track.trackLength)}}
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <button mat-raised-button color="warn" (click)="openDelete(content, track.trackId)">
            <span>
              Del<span class="delete">ete<span class="invisible">I</span></span>
            </span>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </main>
  <aside id="nav" *ngIf="!error">
    <button mat-raised-button color="primary" (click)="navPrev()" [disabled]="currentPage === 1">
      <mat-icon>navigate_before</mat-icon>
      <span class="invisible">I</span>
      <span>Previous</span>
    </button>
    <button mat-raised-button color="primary" (click)="navNext()" [disabled]="currentPage === numberOfPages">
      <span>Next</span>
      <span class="invisible">I</span>
      <mat-icon>navigate_next</mat-icon>
    </button>
  </aside>
  <div class="flex-row-center">
    <button mat-raised-button color="basic" [routerLink]="[ '../']">
      <span>Back</span>
      <span class="invisible">I</span>
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Deletion</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to delete track #{{chosenTrackId}}?</p>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="basic" (click)="modal.close()">No</button>
      <button mat-raised-button color="primary" (click)="deleteTrack()">Yes</button>
    </div>
  </ng-template>
</div>