@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  padding-top: 12vh;
  padding-bottom: 14vh;
  min-height: 100%;
  // background: url("../../../assets/images/");
  // background-size: 82%;
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y: bottom;
  // background-attachment: fixed;
  @include tablet {
    // background-size: 80%;
  }
  @include mobile-toggle {
    background: none;
  }
}

header {
  h1 {
    font-size: 56px;
    color: $primary;
    text-align: center;
    @include tablet {
      font-size: 52px;
    }
    @include mobile-toggle {
      font-size: 48px;
    }
    @include mobile {
      width: 95%;
      margin: auto;
    }
  }
  margin-bottom: 7vh;
}

#content {
  & > * {
    width: 77%;
    @include tablet {
      width: 80%;
    }
    @include mobile-toggle {
      width: 100%;
    }
  }
  padding-left: 10vw;
  padding-right: 10vw;
  @include mobile-toggle {
    width: 85%;
    padding: 0;
    display: block;
    margin: auto;
  }
  @include mobile {
    width: 95%;
  }
}

section {
  h2 {
    font-size: 32px;
    color: $primary-darken-2;
    font-weight: 500;
    margin-bottom: 3vh;
    @include tablet {
      font-size: 28px;
    }
    @include mobile-toggle {
      text-align: center;
      margin-bottom: 4vh;
    }
  }
  &:first-child {
    margin-bottom: 14vh;
  }
}

#tracks-wrapper {
  padding: 1rem;
  #album {
    padding-left: 0.5rem;
    font-size: 30px;
    font-weight: 400;
    color: $primary;
  }
  mat-list {
    margin-top: 0.75rem;
    mat-list-item {
      height: 4.5em;
      font-size: 20px;
      width: 100%;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
      mat-icon {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-size: 36px;
        transition-duration: 1s;
        opacity: 0.6;
        transform: translate(-6px, -6px);
        &:hover {
          cursor: pointer;
          opacity: 1;
          transition-duration: 1s;
          color: #e53935;
        }
      }
    }
  }
}
