<div id="wrapper">
  <header>
    <h1 class="coiny">Starry Beebox</h1>
  </header>
  <div id="content" *ngIf="tracks">
    <section id="track-list">
      <h2 class="raleway">Choose a Track</h2>
      <div id="tracks-wrapper">
        <div class="cour" id="album">{{album.albumName}}</div>
        <mat-list>
          <mat-list-item *ngFor="let _track of tracks"
            [ngClass]="{'theme-2': true, 'selected': isSelected(_track.trackId)}">
            <mat-icon color="primary" matListIcon (click)="loadTrackData(_track.trackId)">play_circle_filled</mat-icon>
            <div matLine>{{_track.trackName | u8}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </section>
    <section id="playing">
      <h2 class="raleway">Now Playing</h2>
      <div id="track" *ngIf="track">
        <div class="cour" id="name">{{track.trackName | u8}}</div>
        <div id="time">{{getTime(track.trackLength)}}</div>
        <div id="player-wrapper" *ngIf="howl">
          <div id="play-btns">
            <button mat-icon-button (click)="loopTrack()" *ngIf="!looping">
              <mat-icon>loop</mat-icon>
            </button>
            <button mat-icon-button (click)="stopLoop()" *ngIf="looping">
              <mat-icon>sync_disabled</mat-icon>
            </button>
            <button class="spacer" mat-icon-button>
              <mat-icon>icon</mat-icon>
            </button>
            <button id="prev-btn" mat-icon-button (click)="prevTrack()" [disabled]="index === 1">
              <mat-icon>skip_previous</mat-icon>
            </button>
            <button class="big-btn" mat-icon-button (click)="pauseTrack()" *ngIf="isPlaying()">
              <mat-icon>pause</mat-icon>
            </button>
            <button class="big-btn" mat-icon-button (click)="playTrack()" *ngIf="!isPlaying()">
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button id="next-btn" mat-icon-button (click)="nextTrack()" [disabled]="index === tracks.length">
              <mat-icon>skip_next</mat-icon>
            </button>
            <button class="spacer" mat-icon-button>
              <mat-icon>icon</mat-icon>
            </button>
            <button mat-icon-button (click)="stopTrack()">
              <mat-icon>stop</mat-icon>
            </button>
          </div>
          <div id="misc-btns">
            <button mat-icon-button (click)="volDown()" [disabled]="volume <= 0.1 || muted">
              <mat-icon>volume_down</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!muted" (click)="mute()">
              <mat-icon>volume_off</mat-icon>
            </button>
            <button mat-icon-button *ngIf="muted" (click)="unmute()">
              <mat-icon>hearing</mat-icon>
            </button>
            <button mat-icon-button (click)="volUp()" [disabled]="volume >= 1">
              <mat-icon>volume_up</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="flex-row-center" *ngIf="!track">
        <div class="gap-10"></div>
        <mat-spinner></mat-spinner>
      </div>
    </section>
  </div>
</div>