@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

$control-size: 32px;
$control-size-s: 28px;

#wrapper {
  padding-top: 12vh;
  padding-bottom: 10vh;
  min-height: 101%;
  background: url("../../../assets/images/bee-bg.jpg");
  background-size: 73%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-attachment: fixed;
  @include tablet {
    background-size: 71%;
  }
  @include mobile-toggle {
    background: none;
  }
}

header {
  h1 {
    font-size: 56px;
    color: $primary;
    text-align: center;
    @include tablet {
      font-size: 52px;
    }
    @include mobile-toggle {
      font-size: 48px;
    }
    @include mobile {
      width: 95%;
      margin: auto;
    }
  }
  margin-bottom: 7vh;
}

#content {
  & > * {
    width: 77%;
    @include tablet {
      width: 80%;
    }
    @include mobile-toggle {
      width: 100%;
    }
  }
  padding-left: 10vw;
  padding-right: 10vw;
  @include mobile-toggle {
    width: 85%;
    padding: 0;
    display: block;
    margin: auto;
  }
  @include mobile {
    width: 95%;
  }
}

section {
  h2 {
    font-size: 32px;
    color: $primary-darken-2;
    font-weight: 500;
    margin-bottom: 3vh;
    @include tablet {
      font-size: 28px;
    }
    @include mobile-toggle {
      text-align: center;
      margin-bottom: 4vh;
    }
  }
  &:first-child {
    margin-bottom: 12vh;
  }
}

#tracks-wrapper {
  padding: 1rem;
  #album {
    padding-left: 0.5rem;
    font-size: 30px;
    font-weight: 400;
    color: $primary;
    @include mobile-toggle {
      text-align: center;
      padding-left: 0;
      font-size: 28px;
    }
  }
  mat-list {
    margin-top: 1rem;
    mat-list-item {
      height: 4.5em;
      font-size: 20px;
      width: 100%;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
      &.selected {
        background-color: rgba($color: #000000, $alpha: 0.1);
        mat-icon {
          opacity: 1;
          color: #d32f2f;
        }
      }
      mat-icon {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-size: 36px;
        transition-duration: 1s;
        opacity: 0.6;
        transform: translate(-6px, -6px);
        &:hover {
          cursor: pointer;
          opacity: 0.8;
          transition-duration: 1s;
          color: #e53935;
        }
      }
    }
  }
}

#track {
  padding: 1rem;
  padding-bottom: 0;
  #name {
    padding-left: 0.5rem;
    color: $primary;
    font-size: 28px;
    margin-bottom: 1rem;
    @include mobile-toggle {
      font-size: 26px;
      text-align: center;
      padding-left: 0;
    }
  }
  #time {
    padding-left: 0.5rem;
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 24px;
    margin-bottom: 1.5em;
    @include mobile-toggle {
      text-align: center;
      padding-left: 0;
      font-size: 22px;
    }
  }
  #stat-time {
    user-select: none;
    font-size: 52px;
    color: $primary-darken-1;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 500;
    @include tablet {
      font-size: 50px;
    }
    @include mobile-toggle {
      font-size: 48px;
    }
  }
  #stat-vol {
    user-select: none;
    margin-top: 1.8rem;
    font-size: 40px;
    color: $primary-darken-1;
    text-align: center;
    font-weight: 500;
    @include tablet {
      font-size: 38px;
    }
    @include mobile-toggle {
      font-size: 36px;
    }
  }
}

#player-wrapper {
  user-select: none;
  margin-top: 0.5rem;
  padding: 1rem 4rem;
  background-image: linear-gradient(
    rgba($color: $accent-lighten-4, $alpha: 0.25),
    rgba($color: $accent-darken-2, $alpha: 0.25)
  );
  border-radius: 86px;
  box-shadow: -3px 3px 12px $accent-lighten-1;
  @include tablet {
    padding: 1rem 3rem;
  }
  @include mobile-toggle {
    padding: 1rem 2rem;
  }
  button {
    width: $control-size * 1.5;
    height: $control-size * 1.5;
    mat-icon {
      font-size: $control-size;
      transform: translate(-4px, 0px);
    }
    @include tablet {
      width: $control-size-s * 1.5;
      height: $control-size-s * 1.5;
      mat-icon {
        font-size: $control-size-s;
        transform: translate(-2px, 0px);
      }
    }
    &.big-btn {
      width: $control-size * 2.5;
      height: $control-size * 2.5;
      mat-icon {
        font-size: $control-size * 2;
        transform: translate(-20px, 0px);
      }
      @include tablet {
        width: $control-size-s * 2.5;
        height: $control-size-s * 2.5;
        mat-icon {
          font-size: $control-size-s * 2;
          transform: translate(-16px, 0px);
        }
      }
    }
    &#next-btn,
    &#prev-btn {
      width: $control-size * 2;
      height: $control-size * 2;
      mat-icon {
        font-size: $control-size * 1.5;
        transform: translate(-12px, 0px);
      }
      @include tablet {
        width: $control-size-s * 2;
        height: $control-size-s * 2;
        mat-icon {
          font-size: $control-size-s * 1.5;
          transform: translate(-9px, 0px);
        }
      }
    }
    &.spacer {
      opacity: 0;
      @include tablet {
        display: none;
      }
    }
  }
  #play-btns,
  #misc-btns {
    &:not(#misc-btns) {
      margin-bottom: 12px;
    }
    color: $primary;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
