<div id="wrapper">
  <header>
    <h1 class="coiny">Koalibee Registration</h1>
  </header>

  <section class="t-web">
    <form id="register-form" [formGroup]="registerForm">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.required">Required
          field</mat-error>
        <mat-error *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.email">Invalid email
          address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
        <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
        <mat-error *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').errors?.required">
          Required field</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
        <mat-icon matSuffix>fingerprint</mat-icon>
        <mat-error *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').errors?.required">
          Required field</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-icon matSuffix>security</mat-icon>
        <mat-error *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.required">
          Required field</mat-error>
        <mat-error *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.minlength">
          Minimum 6 characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [errorStateMatcher]="matcher" placeholder="Confirm Password"
          formControlName="confirmPassword" required>
        <mat-icon matSuffix>gavel</mat-icon>
        <mat-error
          *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').errors?.required">
          Required field</mat-error>
        <mat-error
          *ngIf="registerForm.get('confirmPassword').touched && !registerForm.get('confirmPassword').errors?.required && registerForm.hasError('psMatch')">
          Passwords do not match</mat-error>
      </mat-form-field>
      <div class="gap-10"></div>
      <mat-checkbox formControlName="terms" class="t-web">Agree to <span id="terms">Terms and Conditions</span>
      </mat-checkbox>
    </form>
    <div class="gap-60"></div>
    <!-- Buttons -->
    <aside>
      <button mat-raised-button color="primary" (click)="registerSubmit()"
        [disabled]="!registerForm.valid || !registerForm.touched"><span>Register</span>
        <span class="invisible">I</span>
        <mat-icon>touch_app</mat-icon>
      </button>
      <a mat-raised-button [routerLink]="[ '/' ]">
        <span>Back</span>
        <span class="invisible">I</span>
        <mat-icon>keyboard_backspace</mat-icon>
      </a>
    </aside>
    <div class="gap-60"></div>
  </section>

  <footer class="flex-row-center">
    <div>
      <span class="coiny">Already have an account?</span>
      <span class="invisible">IIIII</span>
      <a mat-raised-button color="primary" [routerLink]="[ '/login' ]">
        <span class="coiny">Login</span><span class="invisible">I</span>
        <mat-icon>face</mat-icon>
      </a>
    </div>
  </footer>
</div>