@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  user-select: none;
  min-height: 100vh;
  background-image: url("../../../assets/images/not-found.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding-left: 24vw;
  padding-top: 12vh;
  @include tablet {
    padding-top: 10vh;
    padding-left: 21vw;
  }
  @include mobile {
    padding-top: 8vh;
    padding-left: 18vw;
  }
}

#error {
  max-width: 40vw;
  a {
    margin-top: 10vh;
    font-size: 20px;
    text-decoration: none;
    @include mobile {
      font-size: 18px;
    }
  }
}

#status {
  font-size: 92px;
  color: $primary;
  @include tablet {
    font-size: 84px;
  }
  @include mobile {
    font-size: 76px;
  }
}

#message {
  font-size: 32px;
  @include tablet {
    font-size: 28px;
  }
  @include mobile {
    font-size: 24px;
  }
}
