@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  position: relative;
  background-image: url("../../../assets/images/ad-home.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 6vh;
  padding-left: 5vw;
  @include tablet {
    // background-position-x: 10%;
    // background-position-y: bottom;
  }
}

header {
  max-width: 35vw;
  margin-bottom: 2vh;
  #title {
    color: $primary;
    font-family: "Wallpoet", cursive;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 4vh;
  }
  #sub {
    font-size: 54px;
    @include tablet {
      font-size: 52px;
    }
    div {
      margin-bottom: -0.1em;
    }
  }
}

main {
  .mission {
    font-size: 18px;
  }
  #manage {
    margin-top: 8vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    button {
      width: 8em;
      height: 1.8em;
      font-size: 22px;
      text-decoration: none;
      &:first-child {
        margin-bottom: 3vh;
        mat-icon {
          transform: translateY(0.2em);
        }
      }
      &:last-child {
        color: rgba(0, 0, 0, 0.67);
        mat-icon {
          transform: translateY(0.18em);
        }
      }
    }
  }
}
