@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  position: relative;
  background-image: url("../../../assets/images/land-bg.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 6vh;
  padding-left: 5vw;
}

header {
  max-width: 35vw;
  margin-bottom: 2vh;
  #title {
    color: $primary;
    font-family: "Wallpoet", cursive;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 4vh;
  }
  #sub {
    font-size: 54px;
    @include tablet {
      font-size: 52px;
    }
    div {
      margin-bottom: -0.1em;
    }
  }
}

main {
  #promotion {
    font-size: 18px;
    max-width: 35vw;
    @include tablet {
      max-width: 40vw;
    }
    @include mobile-large {
      max-width: 50vw;
    }
    @include mobile {
      max-width: 60vw;
    }
    @include mobile-small {
      max-width: 75vw;
    }
  }
  #about {
    margin-top: 6vh;
    margin-bottom: 6vh;
    a {
      text-decoration: none;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      min-width: 220px;
      height: 2em;
      border: 2px solid $primary-lighten-1;
      border-radius: 1em;
      color: $primary;
      font-size: 26px;
      transition: ease-in-out 0.5s;
      span {
        display: block;
        text-align: center;
      }
      &:hover {
        background-color: $primary-lighten-1;
        color: white;
        transition: ease-in-out 0.5s;
      }
    }
  }
  #join {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    a {
      min-width: 140px;
      font-size: 18px;
      text-decoration: none;
      &:first-child {
        margin-right: 2vw;
        @include mobile {
          margin-right: 4vh;
        }
      }
    }
  }
}

footer {
  font-size: 14px;
  margin-left: -4vw;
  margin-top: 11vh;
  padding-bottom: 1vh;
}
