<section id="top-showcase">
  <h1 id="title" class="coiny">
    <div id="logo"></div>
    <div>Koality Harmonia</div>
  </h1>
  <h2 id="subtitle" class="dancing">Where music is not only BEARABLE, but very tasteful</h2>
  <div class="gap-40"></div>
  <p id="promotion" class="cour">Register a free account today to join this great open music community, create and share
    your own music, or purchase exclusive albums published by other talented artists.</p>
  <div id="div-section"></div>
</section>
<section id="bottom-showcase"></section>