<div id="wrapper">
  <header>
    <div id="title">Koality Harmonia</div>
    <div id="sub" class="geostar">
      <div id="subtitle-1">Music</div>
      <div>Beyond</div>
      <div>BEARABLE</div>
    </div>
  </header>
  <main>
    <div id="promotion">
      Create, share, and enjoy by joining our community, the most free and open platform for music lovers.
    </div>
    <div id="about">
      <a class="coiny" [routerLink]="[ '/' ]"><span>Learn More</span></a>
    </div>
    <div id="join">
      <a mat-raised-button color="primary" [routerLink]="[ '/login' ]">
        <span class="coiny">Login</span><span class="invisible">I</span>
        <mat-icon>face</mat-icon>
      </a>
      <a mat-raised-button color="primary" [routerLink]="[ '/register' ]">
        <span class="coiny">Register</span><span class="invisible">I</span>
        <mat-icon>music_note</mat-icon>
      </a>
    </div>
  </main>
  <footer>
    <div id="copyright">Copyright © 2019 Koality Harmonia. All rights reserved.</div>
    <div id="author">Designer: Eddy Soma</div>
  </footer>
</div>