<div id="wrapper">
  <header>
    <h1 class="coiny">About Us</h1>
  </header>
  <main id="about">
    <div id="mission">
      <div class="about-wrapper">
        <div>
          <h3 class="t-web">Our Mission</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aliquid dolorem voluptas vel neque ad
            aspernatur! Quos tenetur, ducimus officiis amet repellat porro quidem, quas, libero quae sint ad cumque.
            Quas voluptas corporis asperiores ex magni dignissimos laborum quam odit repellendus. Error provident, ad
            necessitatibus excepturi doloribus esse enim sit?</p>
        </div>
        <div class="img-wrapper">
          <img src="../../../assets/images/c4.jpg" alt="c4">
        </div>
      </div>
    </div>
    <div id="disclaimer">
      <div class="about-wrapper">
        <div>
          <h3 class="t-web">Disclaimer<span class="invisible">III</span></h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut voluptatibus ab iste, sequi recusandae veniam
            eum, sint doloribus eveniet facilis dicta voluptates assumenda blanditiis unde soluta molestiae perspiciatis
            enim accusantium voluptatem? Earum sunt unde, suscipit magnam autem labore enim deserunt corrupti. Eius
            magni nulla illo inventore soluta vero unde harum?</p>
        </div>
        <div class="img-wrapper">
          <img src="../../../assets/images/c1.jpg" alt="c1">
        </div>
      </div>
    </div>
  </main>
  <header>
    <div class="gap-40"></div>
    <h1 class="coiny">FAQs</h1>
  </header>
  <main id="faq">
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 1 title
        </mat-expansion-panel-header>
        This the expansion 1 content
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 2 title
        </mat-expansion-panel-header>
        This the expansion 2 content
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 2 title
        </mat-expansion-panel-header>
        This the expansion 2 content
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 2 title
        </mat-expansion-panel-header>
        This the expansion 2 content
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          This is the expansion 2 title
        </mat-expansion-panel-header>
        This the expansion 2 content
      </mat-expansion-panel>
    </mat-accordion>
  </main>
  <footer>
    <div class="flex-row-center">
      <a mat-raised-button color="primary" [routerLink]="[ '/' ]">
        <span class="coiny">Home Page</span>
        <span class="invisible">I</span>
        <mat-icon>home</mat-icon>
      </a>
    </div>
  </footer>
</div>