<div id="wrapper">
  <header>
    <h1 class="coiny">About Us</h1>
  </header>
  <main id="about">
    <div id="mission">
      <div class="about-wrapper">
        <div>
          <h3 class="t-web">Our Mission</h3>
          <p>Koality Harmonia strives to become the most open platform for people to share music online. We believe in
            free music and encourage music creators to publish their digital albums without charge. The content on our
            site will never be censored at any level, and we allow users themselves to decide what to consume.</p>
        </div>
        <div class="img-wrapper">
          <img src="../../../assets/images/c4.jpg" alt="c4">
        </div>
      </div>
    </div>
    <div id="disclaimer">
      <div class="about-wrapper">
        <div>
          <h3 class="t-web">Disclaimer<span class="invisible">III</span></h3>
          <p>Our application is still in the early stage of development. We make great effort to maintain our server and
            database, but we cannot guarantee that all services will function without issues. We apologize in advance
            for any inconvenience. Please reach out to a system administrator if you would like to report a problem.
            Also, there is no content curation on our site, and Koality Harmonia is not responsible for any uploaded
            content that is in violation of intellectual property laws or otherwise illegal.</p>
        </div>
        <div class="img-wrapper">
          <img src="../../../assets/images/c5.jpg" alt="c1">
        </div>
      </div>
    </div>
  </main>
  <header>
    <div class="gap-40"></div>
    <h1 class="coiny">FAQs</h1>
  </header>
  <main id="faq">
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Q1: <span class="invisible">III</span> Why do I need to register for an account?
        </mat-expansion-panel-header>
        <p>You need an account so we can save your information and store your content in the database. Only active
          participants can enjoy all the functionalities of our site. Don't worry, we respect our users' privacy and
          will never share your personal data with any third party.</p>
        <mat-action-row>
          <a mat-raised-button color="primary" [routerLink]="[ '/register' ]">
            <span class="coiny">Register</span><span class="invisible">I</span>
            <mat-icon>music_note</mat-icon>
          </a>
        </mat-action-row>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Q2: <span class="invisible">III</span> How do I upload and share my music?
        </mat-expansion-panel-header>
        <p>First, you need to login to your account and navigate to the "Manage Album" section. Then, click on the
          "Create New Album" button and enter some basic information. Once an album is created, you can add tracks to
          the selected album. When you are done uploading all tracks, click on the "Publish" button to share it. You can
          optionally set a price (in ETA coins) so you get rewarded for each account's access. Additionally, you can
          have demo tracks in an album which are publicly playable by anyone with an account.</p>
        <mat-action-row>
          <a mat-raised-button color="primary" [routerLink]="[ '/login' ]">
            <span class="coiny">Login</span><span class="invisible">I</span>
            <mat-icon>face</mat-icon>
          </a>
        </mat-action-row>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Q3: <span class="invisible">III</span> How can I get access to music albums published by others?
        </mat-expansion-panel-header>
        <p>You can visit the "Koality Store" after you login to view all published albums. Some albums will be free, and
          others will require you to pay a certain amount of ETA coins to get access. Once you own the album, navigate
          to the "Inventory" section and select the desired album. You will be redirected to the album page where you
          can play individual tracks by simply clicking on their titles.</p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Q4: <span class="invisible">III</span> What are ETA coins and how can I earn it?
        </mat-expansion-panel-header>
        <p>ETA coins are virtual currencies used in our application. They are like social credits and are not
          exchangeable for real currencies. Each account starts with 100 ETA coins, and you earn them by posting daily
          moments, publishing albums, and writing album reviews.</p>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Q5: <span class="invisible">III</span> How can I raise an issue or contribute to the project?
        </mat-expansion-panel-header>
        <p>Our project is free and open-source. You need to reach out to the system administrator who deploys the app to
          raise an issue. You can also contact the original creator Kairn on GitHub for additional help or to offer your
          support.</p>
        <mat-action-row>
          <a mat-raised-button color="primary" href="https://github.com/Kairn/koality-harmonia-portal" target="_blank">
            <span class="coiny">GitHub</span><span class="invisible">I</span>
            <mat-icon>code</mat-icon>
          </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </main>
  <footer>
    <div class="flex-row-center">
      <a mat-raised-button color="primary" [routerLink]="[ '/' ]">
        <span class="coiny">Home Page</span>
        <span class="invisible">I</span>
        <mat-icon>home</mat-icon>
      </a>
    </div>
  </footer>
</div>