@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

#wrapper {
  min-height: 100vh;
  padding-top: 12vh;
  header:first-child {
    h1 {
      font-size: 56px;
      color: $primary;
      text-align: center;
      @include mobile {
        font-size: 52px;
      }
    }
  }
  header:nth-child(3) {
    h1 {
      font-size: 56px;
      color: $primary;
      text-align: center;
      @include mobile {
        font-size: 52px;
      }
    }
  }
}

#about {
  min-height: 50vh;
  padding: 5vh 15vw 5vh 15vw;
  @include tablet {
    padding: 5vh 12vw 5vh 12vw;
  }
  @include mobile {
    padding: 5vh 5vw 5vh 5vw;
  }
  #mission {
    padding: 1em 1em 0.5em 1.5em;
    border: 3px solid $primary;
    border-radius: 1em;
    margin-bottom: 5vh;
    .img-wrapper {
    }
  }
  #disclaimer {
    padding: 1em 1em 0.5em 1.5em;
    border: 3px solid $primary;
    border-radius: 1em;
  }
}

.about-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  @include mobile {
    flex-flow: column nowrap;
  }
  h3 {
    color: $primary;
    font-weight: 600;
    margin-bottom: 0.5em;
    @include mobile {
      text-align: center;
    }
  }
  p {
    font-size: 18px;
    @include mobile {
      font-size: 16px;
    }
  }
  .img-wrapper {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
      margin-left: 0;
    }
    img {
      width: 8em;
      height: 8em;
    }
  }
}

#faq {
  min-height: 60vh;
  margin-top: 5vh;
  padding: 3vh 15vw 8vh 15vw;
  @include tablet {
    padding: 5vh 12vw 5vh 12vw;
  }
  @include mobile {
    padding: 5vh 5vw 5vh 5vw;
  }
  p {
    font-size: 16px;
    @include mobile {
      font-size: 14px;
    }
  }
  a {
    margin-right: 1em;
    min-width: 140px;
    font-size: 18px;
    text-decoration: none;
  }
}

.mat-expansion-panel-header {
  color: $primary;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 70px !important;
  @include tablet {
    height: 76px !important;
  }
  @include mobile {
    height: 82px !important;
  }
}

footer {
  padding-top: 3vh;
  padding-bottom: 12vh;
  @include tablet {
    padding-top: 5vh;
  }
  @include mobile {
    padding-top: 8vh;
  }
  a {
    text-decoration: none;
    font-size: 20px;
  }
}
