// Colors
$primary: #e91e63;
$primary-lighten-1: #ec407a;
$primary-lighten-2: #f06292;
$primary-lighten-3: #f48fb1;
$primary-lighten-4: #f8bbd0;
$primary-darken-1: #d81b60;
$primary-darken-2: #c2185b;
$primary-darken-3: #ad1457;
$primary-darken-4: #880e4f;

$accent: #673ab7;
$accent-lighten-1: #7e57c2;
$accent-lighten-2: #9575cd;
$accent-lighten-3: #b39ddb;
$accent-lighten-4: #d1c4e9;
$accent-darken-1: #5e35b1;
$accent-darken-2: #512da8;
$accent-darken-3: #4527a0;
$accent-darken-4: #311b92;

$warn: #ff9800;
$warn-lighten-1: #ffa726;
$warn-lighten-2: #ffb74d;
$warn-lighten-3: #ffcc80;
$warn-lighten-4: #ffe0b2;
$warn-darken-1: #fb8c00;
$warn-darken-2: #f57c00;
$warn-darken-3: #ef6c00;
$warn-darken-4: #e65100;
