@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

$frame-width: 75%;

#wrapper {
  padding-top: 12vh;
  padding-bottom: 14vh;
  // background: url("../../../assets/images/profile-bg.jpg");
  // background-size: cover;
}

header {
  h1 {
    font-size: 56px;
    color: $primary;
    text-align: center;
    @include tablet {
      font-size: 52px;
    }
    @include mobile-toggle {
      font-size: 48px;
    }
  }
  margin-bottom: 7vh;
}

#content {
  padding-left: 12vw;
  padding-right: 12vw;
  @include mobile-toggle {
    padding: 0;
  }
}

section {
  h2 {
    font-size: 32px;
    color: $primary-darken-2;
    font-weight: 500;
    margin-bottom: 4vh;
    @include tablet {
      font-size: 28px;
    }
    @include mobile-toggle {
      text-align: center;
    }
  }
  &:first-child {
    margin-bottom: 14vh;
  }
}

#nowork-frame {
  min-height: 16vh;
  color: #f44336;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 6vh;
  }
}

#album-list-frame {
  width: $frame-width;
  mat-card {
    margin-bottom: 1em;
    mat-card-title {
      padding-left: 16px;
      font-size: 26px;
      color: $primary-darken-1;
    }
    mat-card-subtitle {
      mat-icon {
        transform: translateY(0.19em);
      }
      padding-left: 16px;
      &:first-child {
        font-size: 18px;
      }
      &:last-child {
        font-size: 16px;
        color: $accent;
      }
    }
    mat-toolbar-row {
      display: flex;
      flex-flow: row nowrap;
      span.spacer {
        flex: 1 1 auto;
      }
      button {
        transform: translateY(-4px);
        &:last-child {
          color: rgba($color: #000000, $alpha: 0.65);
          margin-left: 1em;
        }
      }
    }
  }
}

#nav-btns {
  width: $frame-width;
  margin-top: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  button {
    font-size: 20px;
    width: 8em;
    &:first-child {
      // margin-right: 1em;
    }
  }
}

form {
  display: block;
  width: $frame-width;
}

.form-field-wrapper {
  user-select: none;
  font-size: 18px;
  display: block;
  margin-bottom: 0.6em;
  mat-form-field {
    width: 100%;
  }
}

.buttons {
  width: $frame-width;
  margin-top: 1.75em;
  button {
    font-size: 20px;
    width: 8em;
  }
}
