<div id="wrapper">
  <header>
    <h1 class="coiny">Koalibee Workshop</h1>
  </header>
  <div id="content">
    <section id="album-list">
      <h2 class="raleway">Unfinished Works</h2>
      <div id="nowork-frame" *ngIf="!hasWork">
        <h1 class="exo">You have no albums pending release</h1>
      </div>
      <div id="album-list-frame" *ngIf="hasWork">
        <mat-card *ngFor="let album of currentAlbumList">
          <mat-card-subtitle>
            <mat-icon>school</mat-icon>
            <span class="invisible">I</span>
            {{album.artist}}
          </mat-card-subtitle>
          <mat-card-title>
            <mat-toolbar-row>
              <span>{{album.albumName}}</span>
              <span class="spacer"></span>
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="openDelete(content, album)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-toolbar-row>
          </mat-card-title>
          <mat-card-subtitle>{{album.genre.genreName}}</mat-card-subtitle>
        </mat-card>
      </div>
      <div id="nav-btns" *ngIf="hasWork">
        <button mat-raised-button color="primary" (click)="navPrev()" [disabled]="currentPage === 1">
          <mat-icon>navigate_before</mat-icon>
          <span class="invisible">I</span>
          <span>Prev.</span>
        </button>
        <button mat-raised-button color="primary" (click)="navNext()" [disabled]="currentPage === numberOfPages">
          <span>Next</span>
          <span class="invisible">I</span>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </section>
    <section id="album-create">
      <h2 class="raleway">Create Album</h2>
      <form [formGroup]="albumCreateForm">
        <div class="form-field-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="" formControlName="albumName" required>
            <mat-label>Album Name</mat-label>
            <mat-icon matSuffix>album</mat-icon>
            <mat-error
              *ngIf="albumCreateForm.get('albumName').touched && albumCreateForm.get('albumName').errors?.required">
              Album name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="" formControlName="artist" required>
            <mat-label>Artist</mat-label>
            <mat-icon matSuffix>whatshot</mat-icon>
            <mat-error *ngIf="albumCreateForm.get('artist').touched && albumCreateForm.get('artist').errors?.required">
              Artist name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Choose a genre</mat-label>
            <mat-select formControlName="genre" required>
              <mat-option default value="">Choose a genre</mat-option>
              <mat-option *ngFor="let genre of ALL_GENRES" [value]="genre.genreId">
                {{genre.genreName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="albumCreateForm.get('genre').touched && albumCreateForm.get('genre').errors?.required">
              Album must have a genre</mat-error>
          </mat-form-field>
        </div>
      </form>
      <div class="buttons">
        <button color="primary" mat-raised-button [disabled]="albumCreateForm.invalid" (click)="createAlbumSubmit()">
          <span>Create</span>
          <span class="invisible">I</span>
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </section>
  </div>
  <!-- Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Deletion</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure to delete this album?</p>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="basic" (click)="modal.close()">No</button>
      <button mat-raised-button color="primary" (click)="deleteAlbum()">Yes</button>
    </div>
  </ng-template>
</div>