<div id="wrapper" *ngIf="bgReady()" [ngClass]="{'no-inv': !ks.albumBinder.length}">
  <header>
    <h1 class="coiny">Music Library</h1>
  </header>
  <div id="content" *ngIf="loadInventory()">
    <div id="album-view" *ngIf="hasAlbum">
      <div class="album-item" *ngFor="let album of currentAlbumList">
        <mat-card class="album-card">
          <mat-card-content>
            <img [src]="album.artworkDataUrl" alt="album.albumId">
            <div class="body">
              <div class="title fira">
                {{album.albumName}}
              </div>
              <div class="actions theme-2">
                <button mat-button color="primary" (click)="playAlbum(album)">
                  <mat-icon>play_circle_outline</mat-icon>
                  <span class="invisible">I</span>
                  <span>Play</span>
                </button>
                <button mat-button color="accent" (click)="openReview(album.albumId, content)">
                  <mat-icon>rate_review</mat-icon>
                  <span class="invisible">I</span>
                  <span>Review</span>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div id="no-album-view" *ngIf="!hasAlbum">
      <div *ngIf="ready">
        <h1 class="exo" *ngIf="ready">Uh-oh, your inventory is empty</h1>
        <img src="../../../assets/images/c1.jpg" alt="chibi">
      </div>
    </div>
    <div id="nav-btns" *ngIf="hasAlbum">
      <button mat-raised-button color="primary" (click)="navPrev()" [disabled]="currentPage === 1">
        <mat-icon>navigate_before</mat-icon>
        <span class="invisible">I</span>
        <span>Prev.</span>
      </button>
      <button mat-raised-button color="primary" (click)="navNext()" [disabled]="currentPage === numberOfPages">
        <span>Next</span>
        <span class="invisible">I</span>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div id="foot-notes" [ngClass]="{'flex-row-center': true, 'left': hasAlbum}">
      <div>
        <span class="coiny">Want some more albums? Visit</span>
        <span class="invisible">III</span>
        <a mat-raised-button color="primary" [routerLink]="[ '../store' ]">
          <span class="coiny">Store</span><span class="invisible">I</span>
          <mat-icon>shop</mat-icon>
        </a>
      </div>
    </div>
  </div>
  <!-- Post Review Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Your Opinion</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="rating">
        <p>Rating: <span>{{rating}}</span></p>
        <ngb-rating [(rate)]="rating"></ngb-rating>
      </div>
      <div id="comment">
        <p>Review: </p>
        <mat-form-field>
          <textarea [(ngModel)]="comment" rows="4" matInput placeholder="Write comment here"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="basic" (click)="clearModal(); modal.close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="reviewSubmit()" [disabled]="!reviewValid()">Submit</button>
    </div>
  </ng-template>
</div>