<div id="wrapper">
  <header>
    <h1 class="coiny">Music Library</h1>
  </header>
  <div id="content">
    <div id="album-view" *ngIf="hasAlbum">
      <div class="album-item" *ngFor="let album of currentAlbumList">
        <mat-card class="album-card">
          <mat-card-header>
            <mat-card-title>
              <mat-icon>school</mat-icon><span class="invisible">II</span><span>{{album.artist}}</span>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="album.artworkDataUrl" alt="artwork">
          <mat-card-content>
            <h4 class="title">{{album.albumName}}</h4>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="playAlbum(album)">
              <mat-icon>play_circle_outline</mat-icon>
              <span class="invisible">I</span>
              <span>Play</span>
            </button>
            <button mat-button color="accent" (click)="openReview(album.albumId, content)">
              <mat-icon>rate_review</mat-icon>
              <span class="invisible">I</span>
              <span>Review</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div id="no-album-view" *ngIf="!hasAlbum">
      <div *ngIf="ready">
        <h1 class="exo" *ngIf="ready">Uh-oh, your inventory is empty</h1>
        <img src="" alt="chibi">
      </div>
    </div>
    <div id="nav-btns" *ngIf="hasAlbum">
      <button mat-raised-button color="primary" (click)="navPrev()" [disabled]="currentPage === 1">
        <mat-icon>navigate_before</mat-icon>
        <span class="invisible">I</span>
        <span>Prev.</span>
      </button>
      <button mat-raised-button color="primary" (click)="navNext()" [disabled]="currentPage === numberOfPages">
        <span>Next</span>
        <span class="invisible">I</span>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div id="foot-notes"></div>
  </div>
  <!-- Post Review Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Your Opinion</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="basic" (click)="modal.close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="reviewSubmit()">Submit</button>
    </div>
  </ng-template>
</div>