@import "../../../assets/global-vars.scss";
@import "../../../assets/media.scss";

$img-size: 340px;
$frame-width: 70%;
$frame-width-tablet: 75%;
$frame-width-mobile: 70%;
$frame-width-mobile-s: 70%;

#wrapper {
  padding-top: 12vh;
  padding-bottom: 14vh;
  // background: url("../../../assets/images/work-factory-bg.jpg");
  // background-size: 80%;
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y: top;
  // background-attachment: fixed;
  @include tablet {
    // background-size: 75%;
    // background-position-y: bottom;
  }
  @include mobile-toggle {
    background: none;
  }
}

header {
  h1 {
    font-size: 56px;
    color: $primary;
    text-align: center;
    @include tablet {
      font-size: 52px;
    }
    @include mobile-toggle {
      font-size: 48px;
    }
    @include mobile {
      width: 95%;
      margin: auto;
    }
  }
  margin-bottom: 7vh;
}

#content {
  padding-left: 12vw;
  padding-right: 12vw;
  @include mobile-toggle {
    // padding: 0;
  }
}

#album-view {
  width: $frame-width;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 6em;
  grid-column-gap: 6em;
  place-items: center;
  justify-content: start;
  .album-item {
    //
  }
}

.album-card {
  position: relative;
  width: $img-size;
  min-height: 75vh;
  mat-card-title {
    color: rgba($color: #000000, $alpha: 0.74);
    font-size: 18px;
    mat-icon {
      transform: translateY(0.21em);
    }
  }
  img {
    width: $img-size;
    height: $img-size;
  }
  mat-card-content {
    h4 {
      font-size: 20px;
      text-align: center;
    }
  }
  mat-card-actions {
    position: absolute;
    bottom: 1em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    button {
      font-size: 14px;
      width: 7em;
    }
  }
}

#nav-btns {
  width: $frame-width;
  margin-top: 7em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  @include tablet {
    // width: $frame-width-tablet;
  }
  @include mobile-toggle {
    // width: $frame-width-mobile;
    // margin: auto;
  }
  @include mobile {
    // width: $frame-width-mobile-s;
  }
  button {
    font-size: 20px;
    width: 8em;
    &:first-child {
      // margin-right: 1em;
    }
    @include mobile-toggle {
      font-size: 16px;
      width: 7em;
    }
  }
}
